@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #0D1117;
  color: white;
  font-family: 'Inter', -apple-system, sans-serif;
}

* {
  box-sizing: inherit;
}
